In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
omicron_data =pd.read_csv('C:\\Users\\Athiban\\Desktop\\Kee\\omicron.csv' , na_values=' ?')
omicron_data.head(5)

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1465693385088323591,Abaris,Hants,"Would appear on Blogger (did originally), but...",2009-09-16 14:30:32,2880,4369,26907,False,2021-11-30 14:45:08,"@SkyNews ""Told you I'd be Back!"" #OMICRON ‚ÄúOdi...",['OMICRON'],Twitter Web App,0,0,False
1,1465693062999412746,GFTs Ó®Ä,Lalaland,There's a field somewhere beyond all doubt and...,2019-12-28 14:29:13,165,583,21152,False,2021-11-30 14:43:52,Someone told me this in October #Omicron https...,['Omicron'],Twitter for Android,0,0,False
2,1465690116442279942,Herbie Finkle (Cozy),NaN,help me find me frens ‚ù§Ô∏è,2021-07-10 09:40:57,114,393,2339,False,2021-11-30 14:32:09,Glad to see the public schoolkids are wrapping...,['COVID'],Twitter Web App,0,1,False
3,1465689607165591552,Electrical Review,United Kingdom,Electrical Review is a monthly journal aimed a...,2009-05-21 08:32:19,20759,2321,739,False,2021-11-30 14:30:08,#Automation systems have become increasingly c...,['Automation'],Hootsuite Inc.,0,0,False
4,1465688203709464578,BingX Academy üîë,NaN,BingX (Prev. Bingbon) is the world's top crypt...,2013-12-31 02:57:32,17134,8,31,False,2021-11-30 14:24:33,"üü¢ If u think Omicron is a FUD, you LONGüìà\nüî¥ If...",NaN,Twitter Web App,2,2,False

In [13]:
omicron_data.dtypes

id                   int64
user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
retweets             int64
favorites            int64
is_retweet            bool
dtype: object

In [6]:
omicron_data.isna().sum()

id                     0
user_name              0
user_location       6452
user_description    1754
user_created           0
user_followers         0
user_friends           0
user_favourites        0
user_verified          0
date                   0
text                   0
hashtags            6787
source                 0
retweets               0
favorites              0
is_retweet             0
dtype: int64

In [14]:
print(omicron_data['user_location'].dtypes)
print(omicron_data)

object
                        id                                   user_name  \
0      1465693385088323591                                      Abaris
1      1465693062999412746                                      GFTs Ó®Ä
2      1465690116442279942                        Herbie Finkle (Cozy)
3      1465689607165591552                           Electrical Review
4      1465688203709464578                             BingX Academy üîë
...                    ...                                         ...
27163  1469394514003570688                                     Chez_Em
27164  1469394487529160719  Protect Yourself üíâüí™ü©π & Your Neighbors üò∑‚ÜîÔ∏èüò∑
27165  1469394463109885964                                  Gigglebean
27166  1469394436014714888                    David R. Martinez, Ph.D.
27167  1469394394327371784                               Nathan Joyner

                      user_location  \
0                             Hants
1                          Lalaland
2                               NaN
3                    United Kingdom
4                               NaN
...                             ...
27163            Central Confusion
27164                           NaN
27165                           NaN
27166  Durham, NC, Chapell Hill, NC
27167               Los Angeles, CA

                                        user_description         user_created  \
0      Would appear on Blogger (did originally),  but...  2009-09-16 14:30:32
1      There's a field somewhere beyond all doubt and...  2019-12-28 14:29:13
2                               help me find me frens ‚ù§Ô∏è  2021-07-10 09:40:57
3      Electrical Review is a monthly journal aimed a...  2009-05-21 08:32:19
4      BingX (Prev. Bingbon) is the world's top crypt...  2013-12-31 02:57:32
...                                                  ...                  ...
27163  My passion: üêòs üêªs the well being thereof\nAnim...  2010-03-29 13:33:33
27164  #BeTheLight üî• #SaveOurOceans #BanPlasticWaste ...  2008-10-15 22:24:26
27165  *All meme content is satire* All tweets are ‚Äút...  2015-03-13 19:31:55
27166  Hanna H. Gray Fellow of the @HHMINEWS and @BWF...  2012-10-12 21:01:34
27167  Global Venture Captial and Private Equity/Busi...  2015-05-18 20:52:29

       user_followers  user_friends  user_favourites  user_verified  \
0                2880          4369            26907          False
1                 165           583            21152          False
2                 114           393             2339          False
3               20759          2321              739          False
4               17134             8               31          False
...               ...           ...              ...            ...
27163            5796          1743             3814          False
27164             309            33            93090          False
27165              20           127              898          False
27166            2857           464            13431           True
27167              35             8              664          False

                      date                                               text  \
0      2021-11-30 14:45:08  @SkyNews "Told you I'd be Back!" #OMICRON ‚ÄúOdi...
1      2021-11-30 14:43:52  Someone told me this in October #Omicron https...
2      2021-11-30 14:32:09  Glad to see the public schoolkids are wrapping...
3      2021-11-30 14:30:08  #Automation systems have become increasingly c...
4      2021-11-30 14:24:33  üü¢ If u think Omicron is a FUD, you LONGüìà\nüî¥ If...
...                    ...                                                ...
27163  2021-12-10 19:52:06  If you have just had the Delta ( you're suppos...
27164  2021-12-10 19:52:00  Still un-vaccinated? #GetVaccinated NOW! It ta...
27165  2021-12-10 19:51:54  Yeah #Omicron is really scary and all, but wan...
27166  2021-12-10 19:51:48  Some of this already announced by companies. L...
27167  2021-12-10 19:51:38  Growth in 7D US Confirmed Covid Cases by Count...

                hashtags               source  retweets  favorites  is_retweet
0            ['OMICRON']      Twitter Web App         0          0       False
1            ['Omicron']  Twitter for Android         0          0       False
2              ['COVID']      Twitter Web App         0          1       False
3         ['Automation']       Hootsuite Inc.         0          0       False
4                    NaN      Twitter Web App         2          2       False
...                  ...                  ...       ...        ...         ...
27163        ['Omicron']  Twitter for Android         0          0       False
27164  ['GetVaccinated']      Twitter Web App         0          0       False
27165        ['Omicron']   Twitter for iPhone         0          0       False
27166        ['Omicron']   Twitter for iPhone       134        343       False
27167                NaN       smcapplication         1          1       False

[27168 rows x 16 columns]

In [15]:
# now , these 3 coulmns are catorigal column, hence i am going to impute some missing values for numerical column, here i am going to take id column

np.random.seed(seed=0)
i = np.random.choice(a=omicron_data.index,replace = False, size = 20)
omicron_data.loc[i,'id'] = np.nan
omicron_data.isna().sum()

id                    20
user_name              0
user_location       6452
user_description    1754
user_created           0
user_followers         0
user_friends           0
user_favourites        0
user_verified          0
date                   0
text                   0
hashtags            6787
source                 0
retweets               0
favorites              0
is_retweet             0
dtype: int64

In [19]:
x_train,x_test,y_train,y_test = train_test_split(omicron_data.drop('is_retweet', axis =1),
                                                 omicron_data['is_retweet'],
                                                 test_size=0.2,
                                                 random_state=30)

In [20]:
from sklearn.impute import KNNImputer

In [45]:
knn = KNNImputer(n_neighbors=5, add_indicator=True)

In [22]:
knn.fit(x_train)

#got the below error
#ValueError: could not convert string to float: 'Dr Kuldip Solanki' in user_name column , since this is object data type

ValueError: could not convert string to float: 'Dr Kuldip Solanki'

In [23]:
omicron_data.dtypes

id                  float64
user_name            object
user_location        object
user_description     object
user_created         object
user_followers        int64
user_friends          int64
user_favourites       int64
user_verified          bool
date                 object
text                 object
hashtags             object
source               object
retweets              int64
favorites             int64
is_retweet             bool
dtype: object

In [44]:
x_train.columns

Index(['id', 'user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'retweets', 'favorites'],
      dtype='object')

In [43]:
[col for col in x_train.columns if(x_train[col].dtypes!='O')]

['id',
 'user_followers',
 'user_friends',
 'user_favourites',
 'user_verified',
 'retweets',
 'favorites']

In [31]:
num_col = [col for col in x_train.columns if(x_train[col].dtypes!='O')]

In [32]:
x_train[num_col].head(5)

,id,user_followers,user_friends,user_favourites,user_verified,retweets,favorites
12641,1.467030e+18,379,257,3451,False,0,3
16528,1.467418e+18,240,1271,7882,False,0,0
14489,1.466942e+18,348,290,2546,False,0,0
8928,1.466360e+18,1833754,37,399,True,4,14
15390,1.467466e+18,208,204,2267,False,0,0

In [47]:
knn.fit(x_train[num_col])

KNNImputer(add_indicator=True)

In [48]:
knn.transform(x_train[num_col])

array([[1.46703026e+18, 3.79000000e+02, 2.57000000e+02, ...,
        0.00000000e+00, 3.00000000e+00, 0.00000000e+00],
       [1.46741780e+18, 2.40000000e+02, 1.27100000e+03, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.46694155e+18, 3.48000000e+02, 2.90000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.46747082e+18, 1.31000000e+03, 2.37700000e+03, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.46596534e+18, 3.00000000e+00, 3.10000000e+01, ...,
        7.00000000e+00, 3.00000000e+00, 0.00000000e+00],
       [1.46592857e+18, 4.74300000e+03, 1.70900000e+03, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [50]:
a = pd.DataFrame(knn.transform(x_train[num_col]))

In [51]:
a

                  0          1       2       3    4    5     6    7
0      1.467030e+18      379.0   257.0  3451.0  0.0  0.0   3.0  0.0
1      1.467418e+18      240.0  1271.0  7882.0  0.0  0.0   0.0  0.0
2      1.466942e+18      348.0   290.0  2546.0  0.0  0.0   0.0  0.0
3      1.466360e+18  1833754.0    37.0   399.0  1.0  4.0  14.0  0.0
4      1.467466e+18      208.0   204.0  2267.0  0.0  0.0   0.0  0.0
...             ...        ...     ...     ...  ...  ...   ...  ...
21729  1.465691e+18     3139.0  4564.0  8784.0  0.0  0.0   1.0  0.0
21730  1.466567e+18       29.0     8.0   642.0  0.0  1.0   1.0  0.0
21731  1.467471e+18     1310.0  2377.0  9030.0  0.0  0.0   0.0  0.0
21732  1.465965e+18        3.0    31.0     2.0  0.0  7.0   3.0  0.0
21733  1.465929e+18     4743.0  1709.0   631.0  0.0  1.0   1.0  0.0

[21734 rows x 8 columns]

In [39]:
pd.DataFrame(knn.transform(x_train[num_col])).isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [40]:
pd.DataFrame(knn.transform(x_train[num_col])).isna().sum().sum()
#0, means we dont have missing values now, its automatically "placed the value by using knn distance calculator"

0

In [52]:
#want to do x_test

knn.fit(x_test[num_col])

KNNImputer(add_indicator=True)

In [53]:
knn.transform(x_test[num_col])

array([[1.46940399e+18, 1.41390000e+04, 2.29700000e+03, ...,
        3.50000000e+01, 2.67000000e+02, 0.00000000e+00],
       [1.46597419e+18, 2.28420000e+04, 2.30250000e+04, ...,
        2.00000000e+00, 9.00000000e+00, 0.00000000e+00],
       [1.46564975e+18, 7.83000000e+02, 2.13000000e+02, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       ...,
       [1.46746605e+18, 3.16000000e+02, 3.70000000e+01, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [1.46595041e+18, 5.38500000e+03, 6.00000000e+00, ...,
        1.00000000e+00, 3.00000000e+00, 0.00000000e+00],
       [1.46833725e+18, 3.57300000e+03, 1.25600000e+03, ...,
        1.00000000e+00, 3.00000000e+00, 0.00000000e+00]])

In [54]:
b = pd.DataFrame(knn.transform(x_test[num_col]))
b

                 0         1        2        3    4     5      6    7
0     1.469404e+18   14139.0   2297.0   3155.0  0.0  35.0  267.0  0.0
1     1.465974e+18   22842.0  23025.0  74422.0  0.0   2.0    9.0  0.0
2     1.465650e+18     783.0    213.0  35846.0  0.0   0.0    1.0  0.0
3     1.467329e+18     480.0    337.0   1956.0  0.0   0.0    0.0  0.0
4     1.468444e+18   55595.0      3.0     87.0  1.0   3.0   12.0  0.0
...            ...       ...      ...      ...  ...   ...    ...  ...
5429  1.465687e+18     200.0     88.0  10612.0  0.0   0.0    1.0  0.0
5430  1.469523e+18  675881.0    146.0   2805.0  1.0   0.0    2.0  0.0
5431  1.467466e+18     316.0     37.0  46032.0  0.0   1.0    1.0  0.0
5432  1.465950e+18    5385.0      6.0      3.0  1.0   1.0    3.0  0.0
5433  1.468337e+18    3573.0   1256.0  18945.0  0.0   1.0    3.0  0.0

[5434 rows x 8 columns]

In [55]:
pd.DataFrame(knn.transform(x_test[num_col])).isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64

In [56]:
pd.DataFrame(knn.transform(x_test[num_col])).isna().sum().sum()

0